* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("/images/bg1 (2).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
 
  border-radius: 5px;
  background: none;
 
}

.form-group {
  margin-bottom: 15px;
  background:none;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  background:none;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #232020;
  border-radius: 3px;
  background: #ccc;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #132dc4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #13c6c0;
}

p {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}
a{
  font-weight: bold;
  color:#e7e4e5;
}
a:hover{
  font-weight: bold;
  color:#eee708;
}